.box1 {
  width: 300px;
  height: 300px;
  background-color: green;
  margin: 30px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: red;
  /* 指定方法(box2の周囲全てに枠線を指定する場合) */
  border: 5px solid yellow;
}

.box3 {
  width: 50px;
  height: 50px;
  background-color: blue;
  /* 指定方法(box2の周囲全てに枠線を指定する場合) */
  border: 5px solid black;
}
